.board-title {
  width: 50%;
  height: 2rem;
  margin: 0.5rem 0;
  input {
    height: 100%;
    width: 100%;
    border: none;
    display: block;
    font-weight: bold;
    background-color: #ebfcf1;
    font-size: 1.17rem;
    &:focus {
      outline: none;
    }
  }
  h3 {
    height: 100%;
  }
}
