.add-button {
  margin-top: 1rem;
  width: 9rem;
  height: 2rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form-text {
  height: 6rem;
  min-width: 10rem;
  background: #ebfcf1;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  .text-area {
    width: 96%;
    height: 5rem;
    resize: none;
    padding: 0.5rem 1rem;
    border: none;
    margin-bottom: 0.3rem;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  .add {
    background: #63bd4f;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .cancel {
    width: 1rem;
    border: none;
    cursor: pointer;
    background-color: #ebfcf1;
  }
}
